@font-face {
  font-family: "helvetica_yuregular";
  src: url("../fonts/helveticaneue-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novabold";
  src: url("../fonts/proxima_nova_bold-webfont.woff2") format("woff2"),
    url("../fonts/proxima_nova_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("../fonts/proxima_nova_regular-webfont.woff2") format("woff2"),
    url("../fonts/proxima_nova_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novasemibold";
  src: url("../fonts/proxima_nova_semibold-webfont.woff2") format("woff2"),
    url("../fonts/proxima_nova_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$colGups: 15px;

$breakpoints: (
  xs: 0,
  sm: 520px,
  md: 767px,
  lg: 979px,
  xl: 1622px
);

$columns: 12;

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i;
      }
    }
  }
}

//===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

//===========  mixins end ===========//

@mixin col-create() {
  @while $col > 0 {
    .col-#{$col} {
      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  width: 936px;

  @media screen and(max-width: 979px) and (min-width: 767px) {
    width: 740px;
  }

  @media screen and(max-width: 767px) and (min-width: 520px) {
    width: 500px;
  }

  @media screen and(max-width: 520px) {
    width: 100%;
  }
}

// для того, чтобы сократить код и не менять постоянно шрифты, прописана основа в media-query для единицы rem для всех breakpoints, которые использованы в данном проекте
html {
  font-size: 16px;

  @media screen and (max-width: 979px) and (min-width: 767px) {
    font-size: 14px;
  }

  @media screen and (max-width: 766px) and (min-width: 520px) {
    font-size: 12px;
  }

  @media screen and (max-width: 519px) {
    font-size: 12px;
  }
}

body {
  background-color: #fafafa;
}

a {
  color: inherit;
}
// layout

.row {
  display: flex;
  flex-wrap: wrap;
}

[class^="col"] {
  width: 100%;
  min-height: 1px;
}

@include col-create();

.hero {
  background-color: #fff;
  padding: 17px 0 35px;

  &__logo {
    @media screen and (max-width: 767px) {
      img {
        width: 100%;
      }
    }
  }

  &__wrapper {
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 2.19rem;

    @media screen and (max-width: 520px) {
      text-align: center;
    }
  }

  &__start {
    display: inline-block;
    font-family: "helvetica_yuregular";
    font-size: 1rem;
    color: #4090db;
    line-height: 2.19rem;
    vertical-align: middle;
    border: 1px solid #4090db;
    border-radius: 5px;
    padding: 0 0.67em;
    margin-left: 1.37em;

    @media screen and (max-width: 347px) {
      margin-left: 0;
    }
  }

  &__info {
    font-family: "proxima_nova_rgregular";
    line-height: 3.44rem;
    font-size: 1.07rem;

    &--quantity {
      font-family: "proxima_novabold";
    }

    span + span {
      margin-left: 1.77em;
    }

    @media screen and (max-width: 520px) {
      text-align: center;
    }
  }

  &__date {
    font-family: "proxima_nova_rgregular";
    font-size: 17px;
    text-transform: capitalize;
    padding-right: 0.82em;
    line-height: 2;
  }

  form {
    position: relative;
  }

  .datepicker-here {
    font-size: 14px;
    font-family: "helvetica_yuregular";
    height: 32px;
    background: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 164px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
  }

  .datepicker-here + .datepicker-here {
    margin-left: 1.72em;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    font-size: 14px;
    opacity: 1; /* Firefox */
    font-family: "helvetica_yuregular";
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
    font-size: 14px;
    font-family: "helvetica_yuregular";
  }
  
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
    font-size: 14px;
    font-family: "helvetica_yuregular";
  }

  @media screen and (max-width: 520px) {
    form {
      justify-content: center;
    }
  }
}

.gallery {
  padding: 71px 0;

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }

  &__wrapper {
    justify-content: space-between;
    padding: 0;
    margin-left: -15px;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  &__item {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;

    [class^=col] {
      padding: 0 7px;
    }
  }

  &__item:hover .gallery__video {
    opacity: 1;
    transition: 0.5s ease-in;
  }

  &__item:hover .gallery__image {
    transform: scale(1.2);
    transition: 1s ease-in;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 99.2%;
      position: absolute;
      top: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    img {
      width: 100%;
    }
  }

  &__info {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 17px;
    font-family: "proxima_novabold";
    box-sizing: border-box;
    line-height: 2;

    .fa {
      position: relative;
      left: -3px;
    }

    &--bottom {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 20%;
    }

    &--center {
      position: absolute;
      width: 100%;
      top: 55%;
      transform: translateY(-50%);
    }

    &-text {
      font-family: "proxima_novasemibold";
    }

    &-count {
      img {
        padding-right: 2px;
        position: relative;
        top: 3px;
      }
    }

    [class^=col] {
      padding: 0;
    }

    .row {
      padding-left: 10px;
    }
  }

  &__video {
    position: absolute;
    top: 15px;
    right: 12px;
    opacity: 0.6;
  }

  &__upload {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-family: "proxima_novasemibold";
    font-size: 17px;
  }

  &__btn {
    background-color: transparent;
    border: 1px solid #000000;
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 2.33;
    padding: 0 2.42em;
    border-radius: 14px;
    font-family: "proxima_nova_rgregular";
    margin-top: 1.7em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &:hover,
    &:focus {
      background-color: #000;
      color: #fff;
      transition: 0.5s ease-in;
    }
  }
}
